<nav class="navbar fixed-top bg-body-tertiary " data-bs-theme="primary">
  <div class="container-fluid">
    <a class="navbar-brand tituloCabecera">Service Belgrano</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

    </form>
  </div>
</nav>


<div class="panelGral">

  <div class="cardBoardRelative">

  </div>
  <div class="carBoard">
    <div class="cardContenedorAuto">
      <app-carboard></app-carboard>
    </div>
  </div>
  <div class="dashBoard">
    <app-dashboard></app-dashboard>
  </div>
</div>




  <nav class="navbar fixed-bottom navbar-light bg-light pie">
    <div class="container-fluid ">
      <a class="navbar-brand texto-pie" href="#">Fixed bottom</a>
    </div>
  </nav>





