<nav class="navbar fixed-top bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand tituloCabecera">Service Belgrano</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      
    </form>
  </div>
</nav>


<div class="panelGral">

  <div class="cardBoardRelative">
    
  </div>
  <div class="carBoard">
    <div class="cardContenedorAuto">
      <app-carboard></app-carboard>
    </div>
  </div>
  <div class="dashBoard">
    <app-dashboard></app-dashboard>
  </div>
</div>


   

  <nav class="navbar fixed-bottom navbar-light bg-light pie">
    <div class="container-fluid ">
      <a class="navbar-brand texto-pie" href="#">Fixed bottom</a>
    </div>
  </nav>
  




